/*Especialidades*/
      
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #00b7f8;
}

div.gallery img {
  width: 106%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align:left;
}

.center {
  width: 100%;
  margin: 5px 10px;
  padding: 5px;
  }
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.light-300, .text-center{
  color:rgb(216, 161, 161);
  font-size: medium;
}

.light-300 a {
  color:#f19e67;
  font-size: medium;
}

.card-text{
  color: rgb(216, 161, 161);
  font-size: smaller;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*para Precios*/
* {box-sizing: border-box;}
      
      .container1 {
        position: relative;
        width: 100%;
        max-width: 300px;
      }
      
      .overlay {
        position: relative; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 10 px;
        text-align: center;
      }
      
      .container1:hover .overlay {
        opacity: 1;
      }



     
      